/target
/test_run_dir
/project
/.bsp
/.idea
/generated
/synthesis/quartus
!/synthesis/quartus/setup_proj.tcl
*.v
*.fir
*.anno.json
firrtl_black_box_resource_files.f
/synthesis/vivado/*.cache
/synthesis/vivado/*.hw
/synthesis/vivado/*.ip_user_files
/synthesis/vivado/*.runs
/synthesis/vivado/*.sim
/asm/*.out
/asm/*.bin
